<div class="maincontainer">
    <mat-card class="matcard" layout="row" layout-align="center center">
        <mat-card-title class="matcardtitle">UPDATE USER</mat-card-title>
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Email">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Phone Number">
            </mat-form-field>

            <div class="example-button-row" color="primary">
                <button mat-raised-button color="primary">Update User</button>
            </div>
        </form>
    </mat-card>

</div>